<form class="form-price" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 class="form-price-title">New Price</h2>
    <label>
        Price: 
        <input type="number" formControlName="price"/>
    </label>
    <br><br>
    <label>Counterparty:</label>
    <select formControlName="counterparty">
        <option *ngFor="let counterparty of counterpartyService.resource |async" [ngValue]="counterparty.id">
            {{counterparty.title}}    
        </option>
    </select>
    <label>Nomenclature:</label>
    <select formControlName="nomenclature">
        <option *ngFor="let nomenclature of nomenclatureService.resurce |async" [ngValue]="nomenclature.id">
            {{nomenclature.title}}
        </option>
    </select>
    <br>
    <br>
    <button type="submit" [disabled]="!form.valid">Submit</button>
</form>
